Source: china-pac
Section: web
Priority: optional
Maintainer: beavailable <beavailable@proton.me>
Build-Depends:
 debhelper-compat (= 13),
 dpkg-build-api (= 1),
Standards-Version: 4.7.2
Homepage: https://github.com/beavailable/china-pac

Package: china-pac
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Suggests:
 share,
Description: China PAC
