name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: '10 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Update
        id: update
        run: ./update.sh
      - name: Upload to OBS
        if: ${{ steps.update.outputs.release == 'true' }}
        uses: beavailable/obs-upload@main
        with:
          username: beavailable
          password: ${{ secrets.OBS_PASSWORD }}
          project: home:beavailable
          package: china-pac
          type: deb
